.contactPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 98px;
    width: 100%;
}


.conactContent{
    background-color: salmon;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 128px;
}

.contacTop{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 60%;
    row-gap: 7px;
}

.contacTop h1{
    font-size: 36px;
    font-weight: 600;
}

.contacTop p{
    font-size: 16px;
    color: #9F9F9F;
    text-align: center;
    line-height: 1.5;
}

.contactBottom{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* column-gap: 157px; */
}

.information{
    display: flex;
    flex-direction: column;
    row-gap:42px ;
    width: 30%;
}
.informationBlock{
    display: flex;
    column-gap: 30px;
    align-items: self-start;
}

.infoText{
    display: flex;
    flex-direction: column;
    width: 275px;
}

.infoText h3{
    font-size: 24px;
    font-weight: 600;
}

.infoText span{
    font-size: 16px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
    .contactBottom{
        display: flex;
        flex-direction: column;
        row-gap: 57px;
    }
}
@media only screen and (max-width: 768px) {

    .conactContent{
        row-gap: 80px;
    }
    .contacTop{
        width: 80%;
        row-gap: 20px;
    }

    .contacTop h1{
        font-size: 30px;
    }
     
    .information{
        width: 100%;
    }
}


@media only screen and (max-width: 425px) {
    .contacTop h1{
        font-size: 25px;
    }
}