.productCard {
    background-color: #FFFF;
    width: 285px;
    height: 446px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.productImgInShop {
    width: 100%;
    height: 301px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImage {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middleButton {
    transition: .5s ease;
    opacity: 0;
    z-index: 1;
    position: relative;
    top:-50%
    /* transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
}

.middleButton p{
    background-color: white;
    width: 202px;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    color: #B88E2F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard:hover .cardImage {
    opacity: 0.3;
}

.productCard:hover .productDetailsInShop{

    cursor: pointer;
}

.productCard:hover .middleButton {
    opacity: 1;
    z-index: 0;
    cursor: pointer;
}


.productDetailsInShop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 12px;
    /* row-gap: 8px; */
    padding: 16px;
}


.productDetailsInShop h1 {
    font-size: 16px;
}


.productDetailsInShop span {
    font-size: 16px;
    font-weight: 500;
    color: #898989;
}

.priceInShop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.priceInShop label {
    font-size: 20px;
    font-weight: 600;
    color: #3A3A3A;
}

.priceBefore {
    font-size: 16px;
    text-decoration: line-through;
    color: #B0B0B0;
}

@media only screen and (max-width: 425px) {
    .productDetailsInShop h1 {
        font-size: 13px;
    }
    
    .productImgInShop {
        height: 290px;
    }
    .productDetailsInShop span {
        font-size: 13px;
    }
}