.productPage{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: saddlebrown; */
}

.product{
    /* background-color: seagreen; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productHeader{
    background-color: #F9F1E7;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 100px;
    column-gap: 14px;
}

.productHeader p {
    color: #9F9F9F;
    font-size: 16px;
}

.productHeader span {
    font-size: 18px;
    font-weight: 600;
}

.productHeader h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productDiv{
    display: flex;
    width: 80%;
    /* background-color: white; */
    column-gap: 52px;
    padding-top: 31px;
}

.productImg{
background-color: #3417db;
width: 423px;
height: 550px;
display: flex;
align-items: center;
justify-content: center;
}

.productImg img{
width: 100%;
height: 100%;
}

.productDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.productDetails h1{
    font-size: 41px;
}

.productDetails p{
    font-size: 24px;
    font-weight: 600;
    color: #9F9F9F;
}

.checked {
    color: orange;
}

.category p{
    color: black;

}

.counterAndBtn{
    display:flex ;
    height: 64px;
    column-gap: 20px;
}


.counterAndBtn button {
    width: 215px;
    height: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 20px;
}

.counterAndBtn button:hover{
    cursor: pointer;
}

.line{
    width: 605px;
    height: 1px;
    background-color: #9F9F9F;
}

.additionalInformation{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.additionalInformation p{
    font-size: 16px;
    display: flex;
    width: 100%px;
    align-items: center;
    column-gap: 20px;
}

.item{
    width: 140px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 70px;
    padding-top:63px ;
    width: 71%;
    /* background-color: rgb(124, 180, 226); */
}

.description label{
    font-size: 24px;
    font-weight: 600;
}

.description p{
    color: #9F9F9F;
    font-size: 16px;
    line-height: 1.2;
}

@media only screen and (max-width:1024px) {
.line{
    width: 400px;
}
}

@media only screen and (max-width:768px) {
    .line{
        width: 300px;
    }

    .productDiv{
        width: 90%;
    }

    .productDetails{
        width: 60%;
    }

    .productImg{
        height: 450px;
    }
    }

    @media only screen and (max-width:425px) {
        
        .productHeader{
            padding-left: 30px;
        }
        .productDiv{
            flex-direction: column;
            row-gap: 45px;
            width: 80%;
            padding-top:40px ;
        }

        .productImg{
            width: 100%;
            height: 400px;
        }

        .productDetails{
            width: 100%;
        }

        .productDetails h1{
            font-size: 30px;
        }

        .description{
            width: 80%;
            row-gap: 40px;
        }

        .counterAndBtn{
            height: 50px;
        }

        .line{
            width: 100%;
        }

}

/* @media only screen and (max-width:325px) {
    .productPage{
        width: 100%;
    }
    } */